
.navItem {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  font-size: 30px;
}

.subHeading{
  color: white;
  font-size: large;
}

.logoutbtn {
  padding: 5px 15px;
  font-size: 1rem;
}

.userName{
  
  margin-right: 50px;
  color: white;
}